
body:before {
    height: 50vh;
    width: 100%;
    position: absolute;
    background: rgb(113, 20, 121);
	content: "";
	z-index: -1;
}

body {
	background: white;
}

#section-home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 2px solid red;
}

#title-container {
	border-bottom: 0px;
}

/* Placeholder, delete this */
#title-container h1 {
	color: white;
	text-align: center;
}

#drink-container {
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#drinkPic-container {
	border: 6px solid white;
	border-radius: 45px;
	overflow: hidden;
}

#drinkPic {
	
}

#drinkInfo-container {
	width: 300px;
	height: 500px;
	border: 6px solid white;
	border-radius: 25px;
	background: #8f8f8f;
}

