#section-login {
	min-height: calc(85vh - 10vh - 34px);
}

#login-container {
	width: 500px;
	height: 400px;
	margin: 10px auto;
	border: 12px solid #b8b8ff;
	border-radius: 15px;
	background: #796ad1;
	overflow: hidden;
    background: linear-gradient( 180deg, #f8f7ff 90px, #796ad1 90px);
    display: flex;
    flex-direction: column;
}

.alert-container {
	display: flex;
	justify-content: center;
}

.alert-info {
	width: 485px;
	border: 5px solid #796ad1;
	border-radius: 15px;
	background-color: #f8f7ff;
	text-align: center;
	color: #796ad1;
	font-size: 1.5rem;
}

#login-form-container {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.form-input {
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    width: 75%;
    margin: 10px auto;
}

.submit-btn {
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
    background: #796ad1;
    color: #f8f7ff;
    border: 2px solid #f8f7ff;
}

#login-p {
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: 'Maven Pro', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
}

#register-link {
    font-family: 'Maven Pro', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;

}