html {
	scroll-behavior: smooth;
  }

.section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 100vh;
}

h1 {
	font-family: 'Patua One', cursive;
}

body:before {
    height: 50vh;
    width: 100%;
    position: absolute;
    background: #b8b8ff;
	content: "";
	z-index: -1;
}

body {
	background: #ffd8be;
}

/* MEDIA QUERIES */


@media (max-width: 650px) {

	#nav-home {
		flex-direction: column !important;
	}
	
	#logo-placeholder-text {
		font-size: 4rem !important;
	}
	
	#drinkPic-container, #drinkPic {
		width: 400px !important;
		height: 300px !important;
	}
	
	#drink-info-container {
		width: 400px !important;
		height: auto !important;
	}
	
	#drink-info-twitter {
		margin-bottom: 20px;
	}
	
}

@media (min-width:650px) and (max-width: 991px) {
	
	#nav-home {
		flex-direction: column !important;
		background: #b8b8ff !important;
	}
	
	.navbar-toggler {
		z-index: 1;
	}
	
	.navbar-collapse {
		width: 100%;
	  background: #b8b8ff;
	}
	
	#logo-placeholder-text {
		font-size: 5rem !important;
	}

	#logo-placeholder-container {
		flex-grow: 2 !important;
	}

	#drinkPic-container, #drinkPic {
		width: 600px !important;
		height: 450px !important;
	}
	
	#drink-info-container {
		width: 600px !important;
		height: auto !important;
	}
	
	#drink-info-twitter {
		margin-bottom: 20px;
	}

  }

@media (min-width:992px) and (max-width: 1200px) {

	#drink-info-container {
		width: 800px !important;
		height: 100% !important;
		text-align: center;
	}
	
	#logo-placeholder-text {
		font-size: 6rem !important;
	}

	#drink-info-twitter {
		margin-bottom: 20px;
	}
	
  }

#nav-home {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
/* 	border-radius: 9000px;	 */
}

.nav-ul {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-link {
	font-size: 1.6rem !important;
	font-family: 'Damion', cursive;
	color: #f8f7ff !important;
}

#spacer-nav-button {
	opacity: 0.0;
}

#spacer-nav-button:hover {
	cursor: default;
}

.social-icon-container {
	display: flex;
	justify-content: center;
}

.fa {
	padding: 13px;
	font-size: 1.4rem !important;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: white;
	width: 48px;
	height: 48px;
}

.fa-twitter {
	background: #55ACEE;
}

.fa-github {
	background: #000000;
}

.fa-linkedin {
	background: #0077B5;
}

.fa:hover {
text-decoration: none;
color: white;
}

.fa-twitter:hover {
	background: #55aceecc;
}

.fa-github:hover {
	background: #000000a2;
}

.fa-linkedin:hover {
	background: rgba(49, 120, 158, 0.635);
}

#logo-placeholder-container {
	display: flex;
	justify-content: center;
}

#logo-placeholder {
	margin-right: 0px;
}

#logo-placeholder-text {
	font-size: 8rem;
	color: #f8f7ff;
}

#section-home {
	min-height: calc(85vh - 10vh - 34px);
}

#drink-container {
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.welcome-prompt-container {
	display: flex;
	justify-content: center;
	margin: auto !important;
}
.welcome-prompt-container p {
	text-align: center;
	font-size: 2rem;
}

#drinkPic-container {
	position: relative;
	border: 12px solid #b8b8ff;
	border-radius: 15px;
	background: #b8b8ff;
	overflow: hidden;
	margin: 10px auto;
	width: 800px;
	height: 600px;
}

#drinkPic {
	display: none;
	width: 800px;
	height: 600px;
	object-fit: contain;
}

#login-prompt-container {
	display: none;
	flex-direction: column;
	justify-content: center;
}

#login-prompt {
	font-size: 1.2rem;
	color: #796ad1;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
    font-family: 'Maven Pro', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
} 

#login-link {
	font-size: 1.4rem;
	color: #796ad1 !important;
    font-family: 'Maven Pro', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
}

#fav-container {
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background: rgb(227, 227, 227); /*Edge fallback*/
	background: rgb(248, 247, 255, .7);
	display: flex;
}

#like-heart {
	font-size: 2rem !important;
	height: auto !important;
	width: auto !important;
	padding: 10px;
	padding-bottom: 8px;
}

#like-heart:hover {
	text-shadow: .5px 10px 10px #796ad1;
	cursor: pointer;
}

.info-card {
	width: 300px;
	height: 600px;
	margin: 10px auto;
	border: 12px solid #b8b8ff;
	border-radius: 15px;
	background: #796ad1;
	overflow: hidden;
	background: linear-gradient( 180deg, #f8f7ff 90px, #796ad1 90px);
}

#drinkInfo-header {
	height: 90px;
	display: flex;
	align-content: center;
}

#drinkInfo-header h2 {
	width: 100%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	color: #796ad1;
	font-size: 3.0rem;
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Damion', cursive;
}

#drink-info-body {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.drink-info {
	color: #f8f7ff;
	font-size: 1.2rem;
	font-family: 'Josefin Sans', sans-serif;
	margin: 25px 25px 25px 25px;
}

#section-stats {
	background: linear-gradient( 180deg, #ffd8be 50%, #b8b8ff 50%)
}

#stats-header {
	font-size: 8rem;
	color: #f8f7ff;
	text-align: center;
}

#graph-container {
	min-height: 60vh;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-bottom: 10px;
	border: 12px solid #ffd8be;
	border-radius: 25px;
	background: #f8f7ff;
}

#options-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.select-label {
	color: #f8f7ff;
	margin-bottom: 10px;
	font-size: 3rem;
	font-family: 'Damion', cursive;
}

.select-dropdown {
	border-radius: 15px;
}

.select-dropdown:focus {
	border-color: #796ad1;
	border: none;
	box-shadow: none;
}

#footer-section {
	min-height: 25vh;
	background:#796ad1;
	display: flex;
	flex-direction: colun;
	justify-content: center;
}

#footer-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.footer-content {
	text-align: center;
	color: #f8f7ff
}

.formatted-link {
	color: #f8f7ff !important;
	font-weight: bold;
}

.footer-icon {
	margin: 0px 3px;
}



