<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>ThirstyCat</title>

        <meta http-equiv="X-UA-Compatible" content="text/html" />

        <!-- Bootstrap required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import fonts -->
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Damion&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">

        <!-- Bootstrap stylesheet goes before any other stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <!-- Highcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/media/favicon_1.ico"/>
    </head>

    <body>
        <section id="landing" class="section">
            <!-- Navbar -->
            <nav id="nav-home" class="navbar navbar-expand-lg bg-transparent navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-stats">CatStats</a>
                        </li>
                    </ul>
                </div>
                <div id="logo-placeholder-container">
                    <a id="logo-placeholder" class="navbar-brand visible-xs-block text-center" href="#">
                        <h1 id="logo-placeholder-text">ThirstyCat</h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="favoritepics">Favorite Pics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login" sec:authorize="isAnonymous()">Log In</a>
                            <a class="nav-link" href="logout" sec:authorize="isAuthenticated()">Log Out</a>
                        </li>     
                    </ul>
                </div> 
                <!-- <button id="spacer-nav-button" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>  -->
            </nav>

            <div id="section-home">
                <div id="drink-container" class="container">
                    <div class="welcome-prompt-container drink-info container" sec:authorize="isAuthenticated()">
                        <p><span>Welcome back, </span><span sec:authentication="principal.username">User</span><span>! Check out the latest picture:</span><p>
                    </div>
                    <div class="welcome-prompt-container drink-info container" sec:authorize="isAnonymous()">
                        <p><span>Welcome! Check out the latest picture:</span><p>
                    </div>
                    <div id="drinkPic-container">
                        <img id="drinkPic" src="" alt="Picture of Shasta taking a drink">
                        <div id="fav-container">
                            <div id="login-prompt-container" sec:authorize="isAnonymous()">
                                <p id="login-prompt">
                                 	<a id="login-link" class="formatted-link" target="" href="/" th:href="@{/login}">Log in</a>
                                 	to favorite this picture!
                                 </p> 
                            </div>
                            <div id="like-heart-container">
                                <i id="like-heart" class="fa fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <div id="drink-info-container" class="info-card">
                        <div id="drinkInfo-header">
                            <h2 class="drinkInfo">Drink Info</h2>
                        </div>
                        <div id="drink-info-body">
                            <div>
                                <h5 id="drinkTime" class="drink-info">Loading data...</h5>
                                <h5 id="elapsedTime" class="drink-info">Loading data...</h5>
                                <h5 id="drinkCount" class="drink-info">Loading data...</h5>
                            </div>
                            <div>
                                <h5 class="drink-info">Check back later or follow ThirstyCat on Twitter to see some more pictures!</h5>
                                <div id="drink-info-twitter" class="social-icon-container">
                                    <a class="fa fa-twitter" href="https://twitter.com/TimJohnston_11" target="_blank"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="section-stats" class="section">
            <div id="stats-header-container" class="container">
                <h1 id="stats-header">Cat Stats</h1>
        </div>
            <div id="graph-container" class="container">
                <!-- Content inserted here by javascript functions making highchart graphs-->
            </div>
            <div id="options-container" class="container">
                <form name="chart-options-form" id="chart-options-form" >
                    <div class = "form-group">
                        <label class="select-label" for="chart-type-select">Choose your graph!</label>
                        <select name = "chart-type-select" class="custom-select custom-select-lg mb-3 select-dropdown">
                            <option value="drinksPerTimeSlice">Drinks Per Block of Time Each Day - Heatmap</option>
                            <option value="drinksPerDay">Drinks Per Day - Bar Chart</option>
                        </select>
                    </div>
                </form>
            </div>
        </section>
        <section id="section-table">
            <div id="table-container" class="container">
                <label class="select-label" for="table">Most recent drinks:</label>
                <table id="table" class="table-striped table-borderless" data-sort-name="drinkNo" data-sort-order="desc"
                data-pagination="true"
  				data-page-list="[10, 20, 50, 100, All]">
                    <thead>
                    <tr>
                        <th data-field="drinkNo" data-sortable="true" data-halign="center" data-align="center">Drink Number</th>
                        <th data-field="startTime" data-sortable="false" data-halign="center" data-align="center">Start Time</th>
                        <th data-field="endTime" data-sortable="false" data-halign="center" data-align="center">End Time</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>

        <section id="footer-section">
            <div id="footer-content-container" class="container">
                <h1 class="footer-content">Thanks for visiting!</h1>
                <p class="footer-content">
                    ThirstyCat is a project by Tim Johnston (and his cat Shasta). 
                    Learn more about Tim by visiting <a class="formatted-link" target="_blank" href="http://www.timothyjohnston.me">timothyjohnston.me</a>
                </p>
                <p class="footer-content">Connect with Tim on LinkedIn, Twitter, or Github</p>
                <div class="social-icon-container">
                    <a class="fa fa-linkedin footer-icon" href="https://www.linkedin.com/in/timothyejohnston/" target="_blank"></a>
                    <a class="fa fa-twitter footer-icon" href="https://twitter.com/TimJohnston_11" target="_blank"></a>
                    <a class="fa fa-github footer-icon" href="https://github.com/timothy-johnston" target="_blank"></a>
                </div>
            </div>
        </section>

        <div class="username-holder-div" style="display: none" sec:authorize="isAuthenticated()">
            <p class="username-holder" sec:authentication="principal.username">User</p>
        </div>
        <div class="username-holder-div" style="display: none" sec:authorize="isAnonymous()">
            <p class="username-holder"></p>
        </div>

        <!-- Javascript, Jquery, Bootstrap, Highcharts, my js -->
        <script th:inline="javascript">
            sessionStorage.setItem('jwt',( /*[[${jwt}]]*/ 'default'));
        </script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
        <script async src="/js/highchartsConfig.js"></script>
        <script async src="/js/main.js"></script>
        
    </body>
    
</html>