<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ThirstyCat</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Bootstrap required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import fonts -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">  -->
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Damion&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap" rel="stylesheet">  

        <!-- Bootstrap stylesheet goes before any other stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/main.css" />
        <link rel="stylesheet" href="../static/styles/social-circles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>

    <body>

        <!-- Navbar -->
        <nav id="nav-home" class="navbar navbar-expand-lg bg-transparent navbar-dark">
            <!-- <a class="navbar-brand" href="#">ThirstyCat</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul id="nav-ul" class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CatStats</a>
                    </li>
                    <li class="nav-item">
                        <a id="logo-placeholder" class="navbar-brand" href="#">
                            <!-- <img id="logo-svg" src="../media/logo_placeholder.svg" alt="ThirstyCat logo">     -->
                            <h1 id="logo-placeholder-text">ThirstyCat</h1>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Favorite Pics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log In</a>
                    </li>     
                </ul>
            </div>  
            </nav>
    
        <section id="section-home">
            <!-- <div id="title-container" class="container">
                <h1>ThirstyCat</h1>
            </div> -->
            <div id="drink-container" class="container">
                <div id="drinkPic-container">
                    <img id="drinkPic" src="../media/catPic.jpg" alt="Picture of Shasta taking a drink">
                </div>
                <div id="drinkInfo-container">
                    <div id="drinkInfo-header">
                        <h2 class="drinkInfo">Drink Info</h2>
                    </div>
                    <div id="drink-info-body">
                        <!-- <h4 class="drinkInfo">This latest drink was Shasta's 3rd drink of the day.</h4>
                        <h5 class="drinkInfo">She got this drink at 4:06 PM EST.</h5> -->
                        <div>
                        <h5 class="drink-info">Shasta took this drink at _time_ EST.</h5>
                        <h5 class="drink-info">It was her _count_ drink of the day.</h5>
                        <h5 class="drink-info">It had been _time-elapsed_ since her last drink, and she was at the water bowl for _duration_.</h5>
                        </div>
                        <div>
                            <h5 class="drink-info">Check back later or follow ThirstyCat on Twitter to see a new picture!</h5>
                            <div class="hvr-float-shadow">
                                <a class="dropdown-item icon-twitter social-button-nav borderless" target="_blank" href="https://twitter.com/TimJohnston_11"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section>

        </section>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
















    
    
    
    
        <!-- Javascript, Jquery, Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script async src="../static/js/main.js"></script>
        
    </body>
    
</html>