body {
	background-image:radial-gradient(circle, #fffbd5, #1D2671);
	padding:0px 0px 0px 0px;
}

div{
	
	align-items:center;
  	display:flex;
  	justify-content:center;
}

div[id*="Section"]{
	margin:20px;
}

#catsOfTCSection{
	margin:500px 20px 20px 20px;
}

.toggleColumn{
	float:left;
	width:50%;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}

/* Nav bar formatting */
.navbarCustom {
	background:transparent;
	height:15px;
}

/* Toggle button formatting */
#toggleSection {
	margin:10px 15% 10px 15%;
}
.btn {
	border-style:solid;
	border-color:black;
}
.buttonSelected{
	background:blue;
}
.buttonUnselected {
	background:transparent;
}
