body {
	background-image:radial-gradient(circle, #fffbd5, #1D2671);
}

div{
	border-style:solid;
	border-color:black;
}

div[id*="Section"]{
	margin:20px;
}

#catsOfTCSection{
	margin:500px 20px 20px 20px;
}

.toggleColumn{
	float:left;
	width:50%;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}


/* Toggle button formatting */
.btn {
	border-style:solid;
	border-color:black;
}
.buttonSelected{
	background:blue;
}
.buttonUnselected {
	background:transparent;
}