body {
	background-image:radial-gradient(circle, #fffbd5, #1D2671);
	padding:0px 0px 0px 0px;
}



div{
	
	align-items:center;
  	display:flex;
  	justify-content:center;
}

div[id*="Section"]{
	margin:20px;
}

#catsOfTCSection{
	margin:500px 20px 20px 20px;
}

.toggleColumn{
	float:left;
	width:50%;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}

/* Nav bar formatting */
.navbar{
	background-color:rgba(0,0,0,.25);
	border-bottom:2px solid #c0c0c0;
}

.navbar .navbar-toggler{
	background-color:white;
}

#brandText{
	color:white;
}

.navbar .navbar-collapse li a.nav-link {
	color:white;
}

/* Toggle button formatting */
#toggleSection {
	margin:10px 15% 10px 15%;
}
.btn {
	border-style:solid;
	border-color:black;
}
.buttonSelected{
	background:blue;
}
.buttonUnselected {
	background:transparent;
}
